<% provide(:title, 'MyPage') %>

<% if signed_in? %>
	<div class="row">
	  	<aside class="span3">
	    	<section>  
	        <%= render 'shared/user_info' %>
	    	</section>
	    	<br>
	    	<div>
		    	<ul class="nav nav-list">
		    		<li><span><i class="icon-home"></i><%= link_to "Time line", mypage_path %></span></li>
		    		<li><span><i class="icon-camera"></i><%= link_to "I am", mypage_iam_path %></span></li>
		    		<li class="active"><span><i class="icon-camera"></i><%= link_to "We are", mypage_weare_path %></span></li>
		    		<li><span><i class="icon-camera"></i><%= link_to "memory", mypage_memory_path %></span></li>
		    		<li><span><i class="icon-camera"></i><%= link_to "..", "#" %></span></li>




		    		
		    	</ul>
	    	</div>
	   	</aside>
		

		<div class="span8">
			<h3>This is We are ..</h3>
	    
		</div>


	</div>
<% end %>
